{% extends 'base.html.twig' %}

{% block title %}{{ 'Best blog ever'|trans }}{% endblock %}
{% block body %}

{% for message in app.flashes('message') %}
    <div class="alert alert--home success" id="message_{{ loop.index }}">{{ message }}<a href="#" class="close" onclick="closeMessage({{ loop.index }})">&times;</a></div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert--home error" id="error_{{ loop.index }}">{{ message }}<a href="#" class="close" onclick="closeMessage({{ loop.index }})">&times;</a></div>
{% endfor %}
<div class="text-center centered-container">
    <h1>Welcome</h1>
<div class="container-fluid dflex">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Front</h5>
            <a href="{{ path("app_blog") }}" class="btn btn-primary">{{ 'Enter'|trans }}</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Back</h5>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path("app_post") }}" class="btn btn-primary">{{ 'Enter'|trans }}</a>
            {% else %}
                <span style="font-size: 14px">{{ 'Login as admin'|trans }}</span>
            {% endif %}
        </div>
    </div>
</div>
    {% if app.user %}
        <p class="info__username">{{ 'Logged in as'|trans }} {{ app.user.username }}</p>
        <a class="info__button--red" href="{{ path("app_logout") }}">{{ 'Logout'|trans }}</a>
    {% else %}
        <div class="info__not-connected">
            <p class="info__username">{{ 'Not logged in'|trans }}</p>
            <div class="info__button-container">
                <a class="info__button" href="{{ path("app_register") }}">{{ 'Register'|trans }}</a>
                <a class="info__button" href="{{ path("app_login") }}">{{ 'Login'|trans }}</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
