{% extends 'base.html.twig' %}
{% block header %} {% endblock %}
{% block body %}

    <div class="post" style="margin:0 5rem">
        <h1>{{ post.title }}</h1>

        <p class="post-metadata">
            <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publicatedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
            <span class="metadata"><i class="fa fa-user"></i> {{ post.user.username }}</span>
        </p>


        <img src="https://picsum.photos/seed/{{ post.slug }}/200/300" alt="" style="float:left;padding-right:2rem">
        <div class="content" style="text-align: justify">
            {{ post.content|markdown_to_html }}
        </div>
    </div>
{% endblock %}
