{% extends 'base.html.twig' %}

{% block title %}liste des posts{% endblock %}

{% block body %}

<div class="example-wrapper">
    {% for message in app.flashes('message') %}
        <p class="flash__message">{{ message }}</p>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <p class="flash__error">{{ message }}</p>
    {% endfor %}
    <h1>Liste de vos posts:</h1>

    <a href="{{ path('app_post_create')}}">Create</a>
    {# DEBUT BARRE DE RECHERCHE #}
    {# FIN BARRE DE RECHERCHE #}
    {# DEBUT LISTE POSTS #}
    {% for post in posts %}
        <div class="card">
            <div class="card__content">
                <a href="{{ post.image }}" class="card__hypertext">{{ post.title }}</a>
                <p class="card__text">{{ post.summary }}</p>
                <p class="card__date">{{ post.getPublicatedAt()|date('Y-m-d H:i:s')}}</p>
            </div>
            <img src="{{ asset('uploads/images/' ~ post.image) }}" alt="post_image" style="width: 100px; height: 100px">
            <a href="{{ path('app_post_show', {'id': post.id}) }}">Détail</a>
            <a href="{{ path('app_post_edit', {'id': post.id}) }}">Editer</a>
            <a href="{{ path('app_post_delete', {'id': post.id}) }}">Supprimer</a>
        </div>
    {% endfor %}
    {# FIN LISTE POSTS #}

</div>
{% endblock %}
