{% extends 'base.html.twig' %}

{% block title %}Liste des posts{% endblock %}

{% block body %}

    <div class="post-list-wrapper">
        {% for message in app.flashes('message') %}
            <div class="alert success" id="message_{{ loop.index }}">{{ message }}<a href="#" class="close" onclick="closeMessage({{ loop.index }})">&times;</a></div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert error" id="error_{{ loop.index }}">{{ message }}<a href="#" class="close" onclick="closeMessage({{ loop.index }})">&times;</a></div>
        {% endfor %}


        <div class="post-list-header">
            <h1>Liste de vos posts:</h1>
            <a href="{{ path('app_post_create') }}" class="operation__button operation__button--edit operation__button--create">
                Create
            </a>
        </div>
        {{ include( 'post/_search_form.html.twig', {target:'app_post'})}}
        <div class="cards_container">
            {% for post in pagination %}
                {{ include("post/_post.html.twig", {'admin': 'true'}) }}
            {% endfor %}
        </div>

        <!-- Afficher la pagination -->
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}


