{% extends 'base.html.twig' %}

{% block title %}{{ 'Post detail'|trans }}{% endblock %}
{% block body %}
{% for message in app.flashes('message') %}
    <div class="alert alert--home success" id="message_{{ loop.index }}">{{ message }}<a href="#" class="close" onclick="closeMessage({{ loop.index }})">&times;</a></div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert--home error" id="error_{{ loop.index }}">{{ message }}<a href="#" class="close" onclick="closeMessage({{ loop.index }})">&times;</a></div>
{% endfor %}
    <article class="post" style="margin:0 5rem; min-height: 400px">
        <h1>{{ post.title }}</h1>

        <p class="post-metadata">
            <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publicatedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
            <span class="metadata"><i class="fa fa-user"></i> {{ post.user.username }}</span>
        </p>
        {% for tag in post.tag %}
            <span class="badge badge-primary">{{ tag.name }}</span>
        {% endfor %}


        <img src="{{ asset('uploads/images/' ~ post.image) }}" alt="post_image" class="card__image--detail" style="float:left;padding-right:2rem">
        <div class="content" style="text-align: justify">
        {{ post.content|markdown_to_html }}
        </div>
        {% if app.user %}
        <div class="clearfix"></div>
        <a href="{{ path("app_post_download", {'id': post.id}) }}" target="_blank">
            <button type="button" class="download__button">
                <i class="fa fa-download"></i>
                {{ 'Download as pdf'|trans }}
            </button>
        </a>
        {% endif %}
    </article>



    <div class="comments" style="display:inline-block">
        <h3>
            <i class="fa fa-comments" aria-hidden="true"></i> {{  post.comments|length }} {{ 'Comments'|trans }}
        </h3>
        {% if app.user %}
        <div class="post-comment">
            {{ render(controller('App\\Controller\\HomeController::commentForm', {'post':post})) }}
        </div>
    {% else %}
        <div class="post-comment">
            <p>{{ 'You must be logged in to comment'|trans }}</p>
            {% endif %}
        </div>

        <div class="cards_container" style="margin-bottom:40px">
        {% for comment in comments %}
            {{ include('post/_comment.html.twig') }}
        {% else %}
            <div class="post-comment">
                <p>{{ 'No comments'|trans }}</p>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
