{% extends 'base.html.twig' %}

{% block title %}Detail du post{% endblock %}
{% block body %}

    <article class="post" style="margin:0 5rem">
        <h1>{{ post.title }}</h1>

        <p class="post-metadata">
            <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publicatedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
            <span class="metadata"><i class="fa fa-user"></i> {{ post.user.username }}</span>
        </p>
        {% for tag in post.tag %}
            <span class="badge badge-primary">{{ tag.name }}</span>
        {% endfor %}


        <img src="{{ asset('uploads/images/' ~ post.image) }}" alt="post_image" class="card__image--detail" style="float:left;padding-right:2rem">
        <div class="content" style="text-align: justify">
        {{ post.content|markdown_to_html }}
        </div>
        {% if app.user %}
        <div class="clearfix"></div>
        <span><a href="{{ path("app_post_download", {'id': post.id}) }}" target="_blank"><i class="fa fa-download"></i>Download as pdf</a></span>
        {% endif %}
    </article>
{% endblock %}
