{% extends 'base.html.twig' %}

{% block title %}Liste des tags{% endblock %}

{% block body %}

    <div class="post-list-wrapper">
        {% for message in app.flashes('message') %}
            <div class="alert success" id="message_{{ loop.index }}">{{ message }}<a href="#" class="close" onclick="closeMessage({{ loop.index }})">&times;</a></div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert error" id="error_{{ loop.index }}">{{ message }}<a href="#" class="close" onclick="closeMessage({{ loop.index }})">&times;</a></div>
        {% endfor %}

        <div class="post-list-header">
            <h1>Liste des tags:</h1>
            <a href="{{ path('app_tag_create') }}" class="operation__button operation__button--edit operation__button--create">
                Create
            </a>
        </div>

        <div class="nametag_container">
        {% for tag in tags %}
            <div class="nametag">
                <a class="nametag__title" href="{{ path('app_tag_edit', {'id': tag.id}) }}">{{ tag.name }}</a>
                <a href="{{ path('app_tag_delete', {'id': tag.id}) }}" class="nametag__link close">&times;</a>
            </div>
        {% endfor %}
        </div>

        {# FIN LISTE POSTS #}

    </div>
{% endblock %}
